
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE html>
<link href="~/Content/Style.css" rel="stylesheet" type="text/css" />
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div id="container">
        <div id="banner">
            <div id="logo">
                <img src="~/imagers/logo2.jpg" />
            </div>
            <div id="menutop">
                <a href="~/Views/TrangChu/Index.html">Trang Chủ</a>
                <a href="#">Giới thiệu</a>
                <a href="#">Sản phẩm</a>
                <a href="#">Khuyến mãi</a>
                <a href="#">Liên hệ</a>
                <a href="#">Quảng cáo</a>
            </div>

        </div>
        <div id="content">
            <div id="left">
                <div class="module">
                    <h3>Danh mục sản phẩm</h3>
                    <a href="">Giày da</a>
                    <a href="#">Son dưỡng da</a>
                    <a href="#">Sandal</a>
                    <a href="#">mỹ phẩm</a>
                    <a href="#">Giày đế xuồng</a>
                    <a href="#">Sản phẩm làm dẹp</a>
                </div>
                <div class="module">
                    <h3>Thống kê truy cập</h3>
                    <div class="StaticticImg">
                        <img src="~/imagers/0.png" />
                        <img src="~/imagers/7.png" />
                        <img src="~/imagers/8.png" />
                        <img src="~/imagers/3.png" />
                        <img src="~/imagers/0.png" />
                    </div>
                    <div class="StaticticContent">
                        <div class="leftAlign"><img src="~/imagers/vlweek.png" /> Hôm nay</div>
                        <div class="rightAlign">100</div>
                        <div class="leftAlign"><img src="~/imagers/vlweek.png" /> Hôm qua</div>
                        <div class="rightAlign">100</div>
                        <div class="leftAlign"><img src="~/imagers/vlweek.png" /> Tuần này</div>
                        <div class="rightAlign">6900</div>
                        <div class="leftAlign"><img src="~/imagers/vlweek.png" /> Tuần trước</div>
                        <div class="rightAlign">5000</div>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="module">
                    <h3>Quảng cáo</h3>
                    <div class="ads">
                        <img src="~/imagers/dienmayxanh.gif" /> <img src="~/imagers/Conmeo.gif" />
                    </div>
                </div>
            </div>
            <div id="right">
                <div id="slideshow">
                    <img src="~/imagers/slide7_713_384.jpg" />
                </div>
                <div id="products">
                    <h3 class="header">Sản phẩm tiêu biểu</h3>
                    <div class="item">
                        <h3 class="productName">SON MÔI CHARLOTTE TILBURY MATTE REVOLUTION LIPSTICK WALK OF SHAME </h3>
                        <img class="productImg" src="~/imagers/son.jpg" width="150" />
                        <p class="productPrice">800,000 VND</p>
                        <a class="productDetail" href="">Chi tiết</a>
                        <a class="productBigImg" href="#">Mua hàng</a>
                    </div>
                    <div class="item">
                        <h3 class="productName">SON MÔI CHARLOTTE TILBURY MATTE REVOLUTION LIPSTICK WALK OF SHAME </h3>
                        <img class="productImg" src="~/imagers/son.jpg" width="150" />
                        <p class="productPrice">800,000 VND</p>
                        <a class="productDetail" href="#">Chi tiết</a>
                        <a class="productBigImg" href="#">Mua hàng</a>
                    </div>
                    <div class="item">
                        <h3 class="productName">SON MÔI CHARLOTTE TILBURY MATTE REVOLUTION LIPSTICK WALK OF SHAME</h3>
                        <img class="productImg" src="~/imagers/son.jpg" width="150" />
                        <p class="productPrice">800,000 VND</p>
                        <a class="productDetail" href="#">Chi tiết</a>
                        <a class="productBigImg" href="#">Mua hàng</a>
                    </div>
                    <div class="item">
                        <h3 class="productName">SON MÔI CHARLOTTE TILBURY MATTE REVOLUTION LIPSTICK WALK OF SHAME</h3>
                        <img class="productImg" src="~/imagers/son.jpg" width="150" />
                        <p class="productPrice">800,000 VND</p>
                        <a class="productDetail" href="#">Chi tiết</a>
                        <a class="productBigImg" href="#">Mua hàng</a>
                    </div>
                    <div class="item">
                        <h3 class="productName">SON MÔI CHARLOTTE TILBURY MATTE REVOLUTION LIPSTICK WALK OF SHAME</h3>
                        <img class="productImg" src="~/imagers/son.jpg" width="150" />
                        <p class="productPrice">800,000 VND</p>
                        <a class="productDetail" href="#">Chi tiết</a>
                        <a class="productBigImg" href="#">Mua hàng</a>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <div id="footer">
            <p>Bản quyền thuộc về : <b>Công ty MinhLong</b></p>
            <p>Được phát triểu bởi Minh Long Tester <b>Ahihi đồ ngok</b></p>
        </div>
    </div>
</body>
</html>


