
@{
    ViewBag.Title = "Lienhe";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2>Lienhe</h2>

<link href="~/Content/Style.css" rel="stylesheet" type="text/css" />

<!DOCTYPE html>
<link href="~/Content/Style.css" rel="stylesheet" type="text/css" />
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div id="container">
        <div id="banner">
            @*<div id="logo">
                <img src="~/imagers/logo2.jpg" />
            </div>*@
            <div id="menutop">
                <a href="./Index">Trang Chủ</a>
                <a href="http://localhost:51092/TrangChu/Quangcao">Giới thiệu</a>
                <a href="http://localhost:51092/TrangChu/Lienhe">Liên hệ</a>
            </div>

        </div>
        <div id="content">
            <div id="left">
                <div class="module">
                    <h3>Danh mục sản phẩm</h3>
                    @Html.Action("Chude", "TrangChu")
                </div>
                <div class="module">
                    <h3>Thống kê truy cập</h3>
                    <div class="StaticticImg">
                        <img src="~/imagers/0.png" />
                        <img src="~/imagers/7.png" />
                        <img src="~/imagers/8.png" />
                        <img src="~/imagers/3.png" />
                        <img src="~/imagers/0.png" />
                    </div>
                    <div class="StaticticContent">
                        <div class="leftAlign"><img src="~/imagers/vlweek.png" /> Hôm nay</div>
                        <div class="rightAlign">100</div>
                        <div class="leftAlign"><img src="~/imagers/vlweek.png" /> Hôm qua</div>
                        <div class="rightAlign">100</div>
                        <div class="leftAlign"><img src="~/imagers/vlweek.png" /> Tuần này</div>
                        <div class="rightAlign">6900</div>
                        <div class="leftAlign"><img src="~/imagers/vlweek.png" /> Tuần trước</div>
                        <div class="rightAlign">5000</div>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="module">
                    <h3>Quảng cáo</h3>
                    <div class="ads">
                        <img src="~/imagers/dienmayxanh.gif" /> <img src="~/imagers/Conmeo.gif" />
                    </div>
                </div>
            </div>
            <div id="right">
                <div id="slideshow">
                  
                </div>
                <div id="products">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.37483661555!2d106.67822371430712!3d10.782576462029768!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f29196ba33d%3A0xdfbf498c336683e9!2zMTAyIELDoCBIdXnhu4duIFRoYW5oIFF1YW4sIFBoxrDhu51uZyA5LCBRdeG6rW4gMywgVGjDoG5oIHBo4buRIEjhu5MgQ2jDrSBNaW5oLCBWaeG7h3QgTmFt!5e0!3m2!1svi!2s!4v1603006763141!5m2!1svi!2s" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                    <h3>102 BÀ HUYỆN THANH QUAN PHƯỜNG 9 QUẬN 3</h3>
                    <h3>SỐ ĐIỆN THOẠI LIÊN HỆ:0852827998</h3>
                </div>
            </div>
            <div class="clear"></div>
        </div>
     
    </div>
</body>
</html>
