
@{
    ViewBag.Title = "Quangcao";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<!DOCTYPE html>
<link href="~/Content/Style.css" rel="stylesheet" type="text/css" />
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div id="container">
        <div id="banner">
            <div id="logo">
                <img src="~/imagers/logo2.jpg" />
            </div>
            <div id="menutop">
                <a href="./Index">Trang Chủ</a>
                <a href="http://localhost:51092/TrangChu/Quangcao">Giới thiệu</a>
                <a href="http://localhost:51092/TrangChu/Lienhe">Liên hệ</a>
            </div>

        </div>
        <div id="content">
            <div id="left">
                <div class="module">
                    <h3>Danh mục sản phẩm</h3>
                        @Html.Action("Chude", "TrangChu")
                </div>
                <div class="module">
                    <h3>Thống kê truy cập</h3>
                    <div class="StaticticImg">
                        <img src="~/imagers/0.png" />
                        <img src="~/imagers/7.png" />
                        <img src="~/imagers/8.png" />
                        <img src="~/imagers/3.png" />
                        <img src="~/imagers/0.png" />
                    </div>
                    <div class="StaticticContent">
                        <div class="leftAlign"><img src="~/imagers/vlweek.png" /> Hôm nay</div>
                        <div class="rightAlign">100</div>
                        <div class="leftAlign"><img src="~/imagers/vlweek.png" /> Hôm qua</div>
                        <div class="rightAlign">100</div>
                        <div class="leftAlign"><img src="~/imagers/vlweek.png" /> Tuần này</div>
                        <div class="rightAlign">6900</div>
                        <div class="leftAlign"><img src="~/imagers/vlweek.png" /> Tuần trước</div>
                        <div class="rightAlign">5000</div>
                    </div>
                    <div class="clear"></div>
                </div>

                <div class="module">
                    <h3>Quảng cáo</h3>
                    <div class="ads">
                        <img src="~/imagers/dienmayxanh.gif" /> <img src="~/imagers/Conmeo.gif" />
                    </div>
                </div>
            </div>
            <div id="right">

                <div class="container">
                    <div class="main-timeline">

                        <!-- start experience section-->
                        <div class="timeline">
                            <div class="icon"></div>
                            <div class="date-content">
                                <div class="date-outer">
                                    <span class="date">
                                        <span class="month">2 Years</span>
                                        <span class="year">2013</span>
                                    </span>
                                </div>
                            </div>
                            <div class="timeline-content">
                                <h5 class="title">Visual Art &amp; Design</h5>
                                <p class="description">
                                    Được phát triển bởi người sáng lập công ty ông Trịnh Minh A
                                    
                                </p>
                            </div>
                        </div>
                        <!-- end experience section-->
                        <!-- start experience section-->
                        <div class="timeline">
                            <div class="icon"></div>
                            <div class="date-content">
                                <div class="date-outer">
                                    <span class="date">
                                        <span class="month">1 Years</span>
                                        <span class="year">2015</span>
                                    </span>
                                </div>
                            </div>
                            <div class="timeline-content">
                                <h5 class="title">MỞ CỬA BÁN</h5>
                                <p class="description">
                                    Sản phẩm được bày bán rộng ở Chợ Bến Thành
                                </p>
                            </div>
                        </div>
                        <!-- end experience section-->
                        <!-- start experience section-->
                        <div class="timeline">
                            <div class="icon"></div>
                            <div class="date-content">
                                <div class="date-outer">
                                    <span class="date">
                                        <span class="month">2 Years</span>
                                        <span class="year">2016</span>
                                    </span>
                                </div>
                            </div>
                            <div class="timeline-content">
                                <h5 class="title">SẢN SUẤT</h5>
                                <p class="description">
                                Sản phẩm được ra mắt ở nhiều noi đặt biệt là Trung Quốc    
                                </p>
                            </div>
                        </div>
                        <!-- end experience section-->
                        <!-- start experience section-->
                        <div class="timeline">
                            <div class="icon"></div>
                            <div class="date-content">
                                <div class="date-outer">
                                    <span class="date">
                                        <span class="month">4 Years</span>
                                        <span class="year">2020</span>
                                    </span>
                                </div>
                            </div>
                            <div class="timeline-content">
                                <h5 class="title">COVID-19</h5>
                                <p class="description">
                                    Do dịch Covid nên không có gì mới
                                </p>
                            </div>
                        </div>
                        <!-- end experience section-->

                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>

    </div>
</body>
</html>